<%= form_for(@picture, html: {:class => 'ui form'}) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="text-align: center;">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'formField' %>
  </div>
    <!--<div class="ui top attached tabular menu"> -->
    <!--<div class="ui bottom attached active tab segment">-->
    <!--<div class="field">-->
    <!--< f.label :url %><br>-->
    <!--< f.text_field :url %>-->
    <!--</div>-->
    <!--</div>-->
    <!--<a class="item">-->
    <!--Tab-->
    <!--</a>-->
      <!--<a class="active item">-->
        <!--Upload by URL-->
      <!--</a>-->
    <!--</div>
   -->
   <div class="field">
     <%= f.label :url %> <br />
     <%= f.text_field :url, class: 'formField' %>
   </div>

  <div class="actions">
    <%= f.submit 'Update!',  class: "ui green button submitButton"%>
  </div>
<% end %>
