<p id="notice"><%= notice %></p>

<h1 class="pageHeader">Listing Pictures</h1>
<div class="ui two column doubling stackable grid">
  <% @pictures.each do |pic| %>
      <div class="column" id="picColumn">
        <a class="image" href="/pictures/<%= pic.id %>">
          <div class="ui special cards">
            <div class = "green card" id="picCard">
              <div class = "dimmable image">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      <%= link_to 'Show', pic, :class => 'ui green button' , :id => 'showButton' %>
                    </div>
                  </div>
                </div>
                <img src="<%= pic.url %>" class="homePic">
              </div>
            </div>
          </div>
        </a>
      </div>
  <%end%>
</div>
<br />
<br>
<div class="container centerStuff" id="uploadButtonContainer">
  <%= link_to 'Upload a new Picture', new_picture_path,:class => 'ui blue button', style: "width: 100%;line-height:3;" %>
</div>
<script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>