<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>

<div class="container">

</div>
<% c = 1 %>
<%@pictures.each do |p| %>
    <% if c % 3 == 1 %>
        <div class="ui three wide column">

        </div>
    <% else %>
    
    <%end%>

    <img src="<%= p.url %>">
<%end%>

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Title</th>-->
      <!--<th>Url</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @pictures.each do |picture| %>-->
      <!--<tr>-->
        <!--<td><%= picture.title %></td>-->
        <!--<td><%= picture.url %></td>-->
        <!--<td><%= link_to 'Show', picture %></td>-->
        <!--<td><%= link_to 'Edit', edit_picture_path(picture) %></td>-->
        <!--<td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<br>

<%= link_to 'New Picture', new_picture_path,:class => 'ui blue button' %>
